* {
    margin : 0 ;
    padding : 0;
    box-sizing: border-box;
}

html , body {
    height: 100vh;
}

main{
    flex: 1;
    background-color:grey; 
    height: auto;
}

footer{
    flex: 1;
    background-color:rgb(207, 10, 44,1); 
    height: 25vh;
}

.textfoot{
    color:rgb(206, 192, 192);
    font-family: 'Times New Roman', Times, serif;
    font-size: 30px;
    font-weight: normal;
    text-align:center;
    padding-top: 50px;
    padding-bottom: 30px;
}

h1{
    color:black;
    font-size: 50px;
    font-weight: normal;
    text-align:center;
    word-spacing: 8px;
    padding: 30px;
}

h3{
    color:black;
    font-size: 30px;
    font-weight: normal;
    text-align:justify;
    word-spacing: 8px;
    padding: 30px;
    margin-left: 20px;
}

#header-xxl {
    flex: 1;
    height: 15vh;
    padding: 0.5rem 1rem;
    background-color: rgb(87, 87, 72);
    display: flex;
    align-items: center;
    justify-content: space-between;
}

a{
    text-decoration: none;
    color: blanchedalmond;
    margin: 10px;
}

#bienvenido{
    font-size: 30px;
    font-weight: 600;
    color: rgb(153, 23, 23);
    font-family: Arial, Helvetica, sans-serif;
    text-align:center;
    margin-bottom: 30px;
}

/* .botonCantidad{
    display:flex;
    font-size: 20px;
    font-weight: 600;
    color: rgb(153, 23, 23);
    background-color: rgb(124, 138, 163);
    padding: 5px;
    font-family: Arial, Helvetica, sans-serif;
    align-items: center;
    justify-content: center;
    margin-left: 50px;
    margin-top: 20px;
} */

.articulosCont{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: rgb(105, 90, 93);

}

.nombresArt{
    font-size: 40px;
    color: rgb(14, 13, 13);
}

.imgPizzas{
    height:300px;
    width: 300px;
    border-radius: 20px;
    margin-bottom: 25px;
}

.loadingText{
    font-size: 45px;
    color:rgb(206, 192, 192) ;
    text-align: center;
    padding-top: 60px;
    padding-bottom: 60px;
    background-color:rgb(207, 10, 44,1);
}
